#topnav {
    background: #4c93ba;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: poppins, sans-serif;
    width: 100%;
    padding: 15px;
    position: fixed;
}

a {
    text-decoration: none;
    color: white;
}

input {
    margin: 2% 10%;
    width: 80%;
    padding: 25px;
    text-align: center;
}

#submit {
    width: 250px;
    text-align: center;
    margin: 0% 40%;
    background: #c8d6e5;
    border-radius: 5%;
}

#submit:hover {
    background: #808e9b;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: #1e272e;
    text-align: center;
    padding: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: white;
}

/* (A) wrapper*/
#quizWrap {
    width: 100%;
    padding: 10% 5%;
    /*recommended fixed height if there is content below the quiz so that page layout does not jump*/
    /*height:250px;*/
}

#hero-img {
    width: 40%;
    margin: 5% 30% 0% 30%;
    height: 250px;
}

/* (D) the body does not require much*/
html,
body {
    background: #d2dae2;
    font-family: poppins, sans-serif;
}

.question {
    padding: 45px;
    background: #1e272e;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

.red {
    color: #ff6b81;
}

.green {
    color: #009432;
}

.wrong {
    background: #ff6b81;
    color: white;
}

.correct {
    background: #009432;
    color: white;
}

.choice {
    background: #ffeaa7;
}

table {
    width: 90%;
    margin: 5%;
    text-align: center;
    table-layout: fixed;
}

.bs {
    border: 2px solid;
    border-radius: 10px;
}

/*media queries*/
@media screen and (max-width: 768px) {
    input {
        margin: 1% 2%;
        margin-left: 0;
        width: 100%;
        padding: 25px;
    }

    table {
        margin: 0;
        width: 100%;
        table-layout: fixed;
    }

    h2 {
        margin-top: 10%;
    }

    #hero-img {
        width: 100%;
        margin: 5% 0% 1% 0%;
    }

    #submit {
        margin: 5% 10% 5% 10%;
    }
}

@media screen and (max-width: 600px) {
    input {
        margin: 1% 2%;
        margin-left: 0;
        width: 100%;
        padding: 25px;
        text-align: left;
    }

    table {
        margin: 0;
        width: 100%;
        text-align: left;
        table-layout: fixed;
    }

    h2 {
        margin-top: 10%;
    }

    #hero-img {
        width: 100%;
        margin: 5% 0% 1% 0%;
    }

    #submit {
        margin: 5% 10% 5% 10%;
    }
}